@import "_elements.less";

[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}

*:focus, *:active {
    outline: none!important;
}

.settings-button {
	position: relative;
	
	button {
		position: absolute;
		right: 0;
	}

}

.settings-reports {
	position: relative;
	
	button {
		position: absolute;
		right: 40px;
	}
}

body {
	.page-content {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.mess {
	text-align: center;
	color: #d60606;
}
